.navigation {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: rgb(59, 59, 59);
  overflow-x: hidden; 
  padding-top: 20px;
  }
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  .navigation a:hover {
    background: #96a0a3;
  }
  body {
    background-color: black;
    }
  .pagebody {
    height: auto;
    width: auto;
    margin-left: 160px; 
    padding: 0px 10px;
    background-color: black;
    color: white;
  }

  .characterlisting{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @media all and (min-width: 800px) {
    /* We invert order of first sidebar and main
     * And tell the main element to take twice as much width as the other two sidebars 
     */
    .characters-1 { order: 1; }
    .characters-2 { order: 2; }
    .characters-3 { order: 3; }
  }